<div class="row" id="balance-info">
<div class="centered seven columns recharge">
	<table>
        <tr>
            <td>
                <p class="big-font">{{ user.membercurrentbalance.get_total_minute }}</p>
                <p>Minutes Remaining</p>
            </td>
            <td>
                <p class="big-font">{{ user.membercurrentbalance.get_total_sms }}</p>
                <p>SMS Remaining</p>
            </td>
            <td>
                <p class="big-font">{{ user.membercurrentbalance.get_total_email }}</p>
                <p>Total Email Remaining</p>
            </td>
            <td>
                <p class="btn primary medium">
                    <a href="/member/recharge/">Recharge</a>
                </p>
            </td>
        </tr>
	</table>
</div>

</div>
