

	<div class="row">
		<div class="push_two eight columns">
			<h3> Verify contact number </h3>
			<form name="verify-contact-number" method="post" action="/member/contact_number/add/"> {% csrf_token %}
				<div class="append field">
					<input class="wide number input bfh-phone" name="contact-number" type="text" placeholder="Email input" data-format="+1 (ddd) ddd-dddd" />
					<div class="medium primary btn"><button type="submit">Verify</button></div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="push_two eight columns" id="veryfication-code">
			Your veryfication code is xxxxxx.
			
		</div>
	</div>
	<div class="row">
		<div class="twelve columns">
			<table>
				<thead>
					<tr>
						<th>Contact Number</th>
						<th>Is Verified</th>
						<th>Is Active</th>
					</tr>
				</thead>
				<tbody>
				{% for contact_number in contact_numbers %}
					<tr>
						<td>{{ contact_number.contact_number }}</td>
						<td>{{ contact_number.is_verified }}</td>
						<td>{{ contact_number.is_active }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


<script type="text/javascript">
	(function(){
		
		if ($.support.pjax) {

			$(document).on('submit', "form[name='verify-contact-number']", function(event) {
				$("#veryfication-code").html("Loading..");
				event.preventDefault();
				number = $("input[name='contact-number']").val();
				console.log(number);
				$.pjax.submit(event, '#veryfication-code');
			})

		}
	})(jQuery)
</script>