{% extends "base.html" %}

{% block header %}
{% endblock header %}

{% block content %}
    <h2>{{ user.username }}'s dashboard!</h2>
    <a href="" id="show-modal">Show modal</a>
<section id="individual-dashboard" class="row">

</section>
<div class="row" id="member-leads-filter">
	<div class="twelve columns">
		<h4>Here will come filtering options</h4>
	</div>	
</div>
<div class="row" id="member-leads">
	<div class="twelve columns">
		<table>
			<thead>
				<tr>
					<th width="20%">Lead Name</th>
					<th width="20%">Contact Number</th>
					<th width="25%">Contact Email</th>
					<th width="10%">Type</th>
					<th width="25%">SMS/Voice</th>
				</tr>
			</thead>
			<tbody>
			{% for lead in member_leads %}
				<tr>
					<td>
						{{ lead.contact.contact_fname }} 
					{% if lead.contact.contact_lname %}	{{ lead.contact.contact_lname }} {% endif %}
					</td>
					<td>{{ lead.contact.contact_number }}</td>
					<td>{{ lead.contact.contact_email }}</td>
					<td>{{ lead.lead_type }}</td>
					{% if lead.lead_type == 'sms' %}
						<td>{{ lead.lead_sms }}</td>
					{% elif lead.lead_type == 'voice' %}
						<td><a href="{{ lead.lead_voice }}">Play</a></td>
					{% else %}
						<td>None</td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock content %}