{% extends "base.html" %}

{% block headermenu %}

{% endblock headermenu %}

{% block content %}

<div class="row">
    <div class="eight columns centered text-center">
    <div id="loginform">
    <h2>Login Form</h2>
    <form action="/member/login/" method="post">{% csrf_token %}
    	{% for field in form %}
        	<div class="field">
        		<div class="row">
        			<div class="twelve columns">
        				{{ field.errors }}
        			</div>
        		</div>
        		<div class="row">
        			<div class="four columns">
	        			{{ field.label }}
	        		</div>
        			
        			<div class="eight columns">
						{{ field }}
					</div>
				</div>
			</div>
            
        {% endfor %}
        	<div class="row" style="margin-top: 20px;">
        		<div class="push_eight four columns">
			        <p class="btn primary large">
			        	<input type="submit" value="Login">
			        </p>
			        
			    </div>
			</div>
    </form>
    </div>
  </div>
</div>
{% endblock content %}
