<div class="six columns">
	<div class="package">
		<form name="package_{{ package.pk }}" action="/member/package/subscribe/" method="post">{% csrf_token %}
		<input type="hidden" name="cost" value="{{ package.cost }}">
		<input type="hidden" name="package_id" value="{{ package.id }}">
		<table class="rounded">
			<thead>
				<tr>
					<th>{{ package.title }}</th>
					<th>${{ package.cost }}</th>
				</tr>
			</thead>
			<tbody>

				{% if package.sms != 0 %}
				<tr>
					<td>{{ package.sms }}</td>
					<td>Total SMS </td>
				</tr>
				{% endif %}

				{% if package.mms != 0 %}
				<tr>
					<td>{{ package.mms }}</td>
					<td>Total MMS</td>
				</tr>
				{% endif %}

				{% if package.talktime != 0 %}
				<tr>
					<td>{{ package.talktime }}</td>
					<td> Minutes talktime</td>
				</tr>
				{% endif %}
                

                {% if package.email %}
				<tr>
					<td>{{ package.email }}</td>
					<td> Total email</td>
				</tr>
				{% endif %}

				{% if package.digital_contant %}
				<tr>
					<td>{{ package.digital_contant }}</td>
					<td>Total digital content</td>
				</tr>
				{% endif %}

				{% if package.twilio_number != 0 %}
				<tr>
					<td>{{ package.twilio_number }}</td>
					<td> Champion numbers </td>
				</tr>
				{% endif %}
			</tbody>
		</table>
    {% if package.is_basic %}
		<div class="row">

			<div class="centered four columns">
				<p class="large success btn">
				<input type="submit" value="Buy Now" name="">
				</p>
			</div>
		</div>
    {% else %}
      <div class="row">
        <div class="eight columns">
          <div class="field">
            <input type="number" class="input" name="package_frequency" placeholder="How many package you need? Default=1">
          </div>
        </div>
        <div class="four columns">
          <p class="medium success btn">
          <input type="submit" value="Buy Now" name="">
          </p>
        </div>
		  </div>
    {% endif %}
		</form>
	</div>
	
</div>
<script type="text/javascript">
(function(){
	
	
})(jQuery);
</script>





	