<div class="row">
  <div class="ten columns centered text-center">
    <h2>Profile Form</h2>
    <form name='profile' action="/member/settings/" method="post">{% csrf_token %}
        {% for field in uform %}

            <div class="field">
                <div class="row">
                    <div class="twelve columns">
                        {{ field.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        {{ field.label }}
                    </div>
                    
                    <div class="eight columns">
                        {{ field }}
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for field in pform %}
            <div class="field">
                <div class="row">
                    <div class="twelve columns">
                        {{ field.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        {{ field.label }}
                    </div>
                    
                    <div class="eight columns">
                        {{ field }}
                    </div>
                </div>
            </div>
        {% endfor %}
            <div class="row">
                <div class="push_six six columns" style="text-align: right;">
                    <p class="btn primary large">
                        <input type="submit" value="Save">
                    </p>
                    
                </div>
            </div>
    </form>
    
  </div>
</div>
<script type="text/javascript">
(function(){

})(jQuery)

</script>
