{% extends "base.html" %}

{% block header %}
{% endblock header %}

{% block content %}

		<div class="row">
			<div class="centered twelve columns">
				<div class="row">
					<div class="centered twelve columns">
						{% if messages %}

							<ul class="messages">
							  {% for message in messages %}
                                <li {% if message.tags %} class="danger alert"{% endif %}>{{ message }}</li>
							  {% endfor %}
							</ul>

						{% endif %}
					</div>
				</div>

				<div class="row">
					{% for package in packages %}

							{% include "member/package_list.html" %}

					{% endfor %}
					<div class="clearfix"></div>
				</div>

			</div>
		</div>


{% endblock content %}
