{% extends "base.html" %}

{% block headermenu %}



{% endblock headermenu %}
{% block content %}
<header class="row">
	<div class="twelve columns">
		<div class="row">
	      	<div class="eight columns centered text-center">
	      		<div id="regform">
	        	<h2>Registration Form</h2>
	        	<form action="/member/register/" method="post">{% csrf_token %}
	        	{% for field in rform %}
		        	<div class="field">
		        		<div class="row">
		        			<div class="twelve columns">
		        				{{ field.errors }}
		        			</div>
		        		</div>
		        		<div class="row">
		        			<div class="four columns">
			        			{{ field.label }}
			        		</div>

		        			<div class="eight columns">
								{{ field }}
							</div>
						</div>
					</div>
		        {% endfor %}
		        	<div class="row" style="margin-top: 20px;">
		        		<div class="push_eight four columns">
					        <p class="btn primary large">
					        	<input type="submit" value="Register">
					        </p>
					        
					    </div>
					</div>
	        	</form>
	        	</div>
	      	</div>
	    </div>
	</div>
</header>

{% endblock content %}