<div class="row searchtwilio">
  <div class="twelve columns">
    
      <table class="rounded">
        <thead>
          <tr>
            <th colspan="5">Search Your Champion Number</th>
          </tr>
        </thead>
        <tbody>
          <form data-pjax method="post" action="/mytwilio/search_numbers/">{% csrf_token %}
          <tr>
            {% for field in twform %}
              <td>
                <div class="field">
                  {{ field.label }}
                </div>
                <div class="field">
                  {{ field }}
                </div>
              </td>
            {% endfor %}
              <td>
                  
                  <p class="medium danger btn" style="margin-top: 34px;">
                    <input type="submit" id="search_number" value="Search Number">
                  </p>    
                
              </td>
          </tr>
          </form>     
        </tbody>
      </table>

      <div class="row">
        <div class="centered ten columns">
          <div id="search-result">
          </div>
          <div id="tw-list">
          </div>
        </div>

      </div>
      <div class="ajax-loader">
      </div>

    
  </div>
</div>
<script type="text/javascript">
(function(){
  
  if ($.support.pjax) {

    $(document).on('submit', 'form[data-pjax]', function(event) {
      $("#search-result").html("Loading..");

      event.preventDefault();
      
      $.pjax.submit(event, '#search-result');
    })

  }

})(jQuery)

</script>