{% extends "base.html" %}

{% block header %}
{% endblock header %}

{% block content %}



<section class="tabs settings">
	
	<div class="row">
	    <ul class="tab-nav three columns">
	        <li {% if path == "profile" %} class="active" {% endif %}><a href="#">Profile</a></li>
	        <li {% if path == "choose_number" %} class="active" {% endif %}> <a href="#">Choose Number</a></li>
	        <li {% if path == "verify_number" %} class="active" {% endif %}> <a href="#">Verify Number</a></li>
	        <li><a href="#">Payments</a></li>
	    </ul>

	    <div class="tab-content  nine columns alpha {% if path == 'profile' %} active {% endif %}">
	        {% include "member/profile.html" %}
	    </div>
	    <div class="tab-content nine columns alpha {% if path == 'choose_number' %} active {% endif %}" id="twnumber_list">
	        {% include "member/choose_number.html" %}
	    </div>
	    <div class="tab-content nine columns alpha {% if path == 'verify_number' %} active {% endif %}">
	        {% include "member/contact-numbers.html" %}
	    </div>
	    <div class="tab-content nine columns alpha">
	        {% include "member/payments.html" %}
	    </div>
	</div>
	
</section>
<div id="editTwilioNumber2">
    <h1>Loading ....</h1>
</div>
{% endblock content %}
