{% extends "base.html" %}


{% block message %}
{% endblock message %}

{% block headermenu %}

<header class="row headermenu">
	<div class="twelve columns">
		{% include "dashboard-menu.html" %}
	</div>
		
</header>

{% endblock headermenu %}


{% block content %}


	<div class="startup">
		<div class="row">
			<div class="centered twelve columns">
			
				<div class="row">
					<div class="centered twelve columns">
						{% if messages %}
							
							<ul class="messages">
							  {% for message in messages %}
                  <li{% if message.tags %} class="danger alert"{% endif %}>{{ message }}</li>
							  {% endfor %}
							</ul>
							
						{% endif %}
					</div>
				</div>
				
				<div class="row">
					{% for package in packages %}
						{% if package.is_basic == 1 %}
							{% include "member/package_list.html" %}
						{% endif %}
					{% endfor %}
					<div class="clearfix"></div>
				</div>
						
			</div>
		</div>
	
	</div>						


{% endblock content %}

