<section class="tabs settings">
	
	<div class="row">
	    <ul class="tab-nav three columns">
	        <li class="active"><a href="#">Profile</a></li>
	        <li> <a href="#">Choose Number</a></li>
	        <li><a href="#">Payments</a></li>
	    </ul>

	    <div class="tab-content  nine columns alpha active">
	        <div class="row">
  <div class="ten columns centered text-center">
    <h2>Profile Form</h2>
    <form name="profile" action="/member/profile/" method="post"><input type="hidden" name="csrfmiddlewaretoken" value="KfrljImbprjwpOsMk9EiF1p38Y8Wu2Aj">
        
            <div class="field">
                <div class="row">
                    <div class="twelve columns">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        First Name
                    </div>
                    
                    <div class="eight columns">
                        <input class="input" id="id_first_name" maxlength="25" name="first_name" type="text">
                    </div>
                </div>
            </div>
        
            <div class="field">
                <div class="row">
                    <div class="twelve columns">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        Last Name
                    </div>
                    
                    <div class="eight columns">
                        <input class="input" id="id_last_name" maxlength="25" name="last_name" type="text">
                    </div>
                </div>
            </div>
        
            <div class="field">
                <div class="row">
                    <div class="twelve columns">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        Email address
                    </div>
                    
                    <div class="eight columns">
                        <input id="id_email" maxlength="75" name="email" type="email" value="charlicoder@hotmail.com">
                    </div>
                </div>
            </div>
        

        
            <div class="field">
                <div class="row">
                    <div class="twelve columns">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        Address
                    </div>
                    
                    <div class="eight columns">
                        <textarea class="" cols="40" id="id_address" name="address" rows="10"></textarea>
                    </div>
                </div>
            </div>
        
            <div class="field">
                <div class="row">
                    <div class="twelve columns">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        Contact Number
                    </div>
                    
                    <div class="eight columns">
                        <input class="input" id="id_contact_number" maxlength="15" name="contact_number" type="text" value="0123234722344">
                    </div>
                </div>
            </div>
        
            <div class="field">
                <div class="row">
                    <div class="twelve columns">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        Fax Number
                    </div>
                    
                    <div class="eight columns">
                        <input class="input" id="id_fax_number" maxlength="15" name="fax_number" type="text">
                    </div>
                </div>
            </div>
        
            <div class="field">
                <div class="row">
                    <div class="twelve columns">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        Company Name
                    </div>
                    
                    <div class="eight columns">
                        <input class="input" id="id_company_name" maxlength="20" name="company_name" type="text">
                    </div>
                </div>
            </div>
        
            <div class="field">
                <div class="row">
                    <div class="twelve columns">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        Designation
                    </div>
                    
                    <div class="eight columns">
                        <input class="input" id="id_designation" maxlength="15" name="designation" type="text" value="Web developer">
                    </div>
                </div>
            </div>
        
            <div class="field">
                <div class="row">
                    <div class="twelve columns">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        Twilio Friendly Name
                    </div>
                    
                    <div class="eight columns">
                        <input class="input" id="id_tw_friendly_name" maxlength="15" name="tw_friendly_name" type="text">
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="push_six six columns">
                    <p class="btn primary medium">
                        <input type="submit" value="Save">
                    </p>
                    
                </div>
            </div>
    </form>
    
  </div>
</div>
<script type="text/javascript">
(function(){
    $("form[name='profile']").on("submit", function(event){
        event.preventDefault();

        form_data = $("form[name='profile']").serialize();
        console.log(form_data);

        $.ajax({
            type: "POST",
            url: "/member/profile/",
            data: form_data,
            success: function(data) {
                console.log(data);
            },
            error: function(data) {

            }

        });
        
    });
})(jQuery)

</script>

	    </div>
	    <div class="tab-content nine columns alpha" id="twnumber_list">
	        <div class="row">
	<div class="twelve columns centered text-center">
		
		<table>
			<thead>
				<tr>
					<th>SL</th>
					<th>Friendly Name</th>
					<th>Twilio Number</th>
					<th>Note</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				
				<tr>
					<td>1</td>
					<td></td>
					<td>+19103382417</td>
					<td>hello</td>
					<td>
						<a href="/mytwilio/update_twnumber/5/" class="switch" data-id="5" gumby-trigger="#editTwilioNumber"> Edit </a> / <a href=""> Remove </a>
					</td>
				</tr>
				
			</tbody>
		</table>
	    
	    	
	    
	</div>
</div>
<div class="modal" id="editTwilioNumber">
  <div class="content">
    <a class="close switch" gumby-trigger="|#editTwilioNumber"><i class="icon-cancel"></i></a>
    <div class="row">
      <div class="ten columns centered text-center">
        

          <form name="" action="/mytwilio/update_twnumber/0/">
            <input type="hidden" name="hid_twid" value="">
          
            <table>
              
            </table>
          </form>
          <p class="btn primary medium">
          <input type="submit" value="submit" name="edittwilionumber">
          </p>
          <p class="btn primary medium">
          <a href="#" id="closemodal" class="switch" gumby-trigger="|#editTwilioNumber">Close Modal</a>
          </p>

        
      </div>
    </div>


  </div>
</div>
<script type="text/javascript">
(function(){
  console.log("page loaded..");
  $("input[name='edittwilionumber']").on("click", function(e){
    e.preventDefault();
    twid = $("input[name='hid_twid']").val()
    sms_reply_email_active = $("input[name='sms_reply_email_active']").is(":checked");
    sms_reply_email_body = $("textarea[name='sms_reply_email_body']").val();
    active_sms_reply = $("input[name='active_sms_reply']").is(":checked");
    message_body = $("textarea[name='message_body']").val();
    note = $("textarea[name='note']").val();

    console.log('sms_reply_email_active : '+sms_reply_email_active);
    console.log("sms_reply_email_body "+sms_reply_email_body);
    console.log("active_sms_reply :"+active_sms_reply);
    console.log("message_body "+message_body);
    console.log("note "+ note);
    
    $.ajax({
      type: "POST",
      url: "/mytwilio/update_twnumber/"+twid+"/",
      data: {
        sms_reply_email_active: sms_reply_email_active,
        sms_reply_email_body: sms_reply_email_body,
        active_sms_reply: active_sms_reply,
        message_body: message_body,
        note: note,
        twid: twid
      },

      success: function(data) {
        if(data == "success") {
          console.log("success");
        }
        $("#twnumber_list").load("/member/tw_number_list/");

        $( "#closemodal" ).trigger( "click" );
      },

      error: function(errors) {
        alert("error");
      }
    });

  });
})(jQuery)
</script>
<script type="text/javascript">
(function(){
	$("a[gumby-trigger=#editTwilioNumber]").on("click", function(event) {
	    event.preventDefault();
	    var target = $(this).attr("href");
	    twid = $(this).data("id");

	    $("#editTwilioNumber .content table").load(target, function() {
	         $("input[name='hid_twid']").val(twid)
	    });

	});
})(jQuery)

</script>
	    </div>
	    <div class="tab-content nine columns alpha">
	        
	    </div>
	</div>
	
</section>