{% extends "base.html" %}

{% block content %}
	<h3> Verify contact number </h3>
	{% for contact_number in contact_numbers %}
		{{ contact_number.contact_number }}
	{% endfor %}

	<form name="verify-contact-number" action="">
		<div class="append field">
			<input class="wide number input" name="contact-number" type="text" placeholder="Email input" />
			<div class="medium primary btn"><button type="submit">Verify</button></div>
		</div>
	</form>


<script type="text/javascript">
	(function(){
		$("form[name='verify-contact-number'").on('submit', function(e){
			e.preventDefault();
			number = $("input[name='contact-number']").val();
			console.log(number);
		});
	})(jQuery)
</script>
	
{% endblock content %}