@font-face {
	font-family: championFace;
	src: url('/static/font/Glegoo-Regular.ttf')
}

body{
	background: url("/static/images/banner.jpg") no-repeat fixed;
	background-size: 100%;
	font-family: championFace !important;
}
.message {
	margin: 0px auto;
	text-align: center;
	padding: 0px;
}
.success {
	background-color: #10CC00;
	color: #FFF;
}
.error {
	background-color: #CC1001;
	color: #111100;
}
.errorlist {
	margin: 0px;
	padding: 0px;
}
.topmenu {
	background-color: #FFF;
	/*height: 65px;*/
}
.topmenu .navbar {
	background-color: #FFF !important;
	margin-bottom: 0px !important;
	
}
.topmenu .navbar ul li {
	height: 70px !important;
}
.topmenu .navbar ul.top {
	float: right;
}
.topmenu .navbar li a {
	background-color: #FFF;
	color: #7b197c;
	font-size: 1.1em;
	height: 70px !important;
}
.headermenu {
	background: url("/static/images/tr.png");
	padding-top: 20px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	
	color: #FFF;
}
.headermenu h4 {
	color: #FFF;
}
.topheader p {
	color: #FFF;
	text-align: center;
}
.topheader h1 {
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
	color: #FFF;
	margin-bottom: 10px;
}
article.topheader p.img {
	margin-bottom: -25px;
}
.fullcontent {
	background: url("/static/images/bg.jpg");
	
	background-size: 100% 100%;
	min-height: 400px;
	padding-bottom: 50px;
}
.content {
	padding: 50px;
	background-color: #FFF;
	min-height: 200px;
}
.home {
	background: url("/static/images/home-content-bg.jpg");
	background-size: 100% 100%;
	min-height: 800px;
}
.footer {
	color: #FFF;
	padding-right: 0px !important;
	margin-top: 5px;

}
.footer p {
	font-size: 0.8em !important;
}
.navbar {
	background: none !important;
}
.footer .navbar {
	font-size: 0.8em !important;
	min-height: 20px !important;
	float: right;
}
.footer .navbar ul {
	float: right;
	
}
.footer .navbar ul li, .footer .navbar ul li a {
	height: 20px !important;
	line-height: 18px !important;
	font-size: 1em !important;
}
.recharge {
	
	margin-bottom: 20px;
	width:400px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:3px solid #00AD31;


}
ul.tab-nav {
	border-bottom: 5px solid #791a7a; 
	padding-left: 20px;
}
ul.tab-nav li {
	margin: 0px !important;
	-webkit-box-shadow: 0 1px 0 #8b1d8f;
	box-shadow: 0 1px 0 #8b1d8f;
	-moz-box-shadow: 0 1px 0 #8b1d8f;
}
ul.tab-nav li.active a {
	background-color: #8b1d8f;
}
ul.tab-nav li > a {
	background-color: #b3b3b3;
	border: none !important;
	text-shadow: none !important;
	color: #FFF;
	font-weight: normal !important;
	padding: 0px 15px !important;
}

ul.main-menu li > a:hover {
	color: #FFF !important;
	background-color: #8b1d8f !important;

}

.package {
	background-color: #DDD;
	min-height: 280px;
	margin: 10px auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	border: 4px solid #777;
}
.searchtwilio {
	margin-top: 5px;
}

/* ============= settings page =================== */
.settings {
	margin-top: 50px;
} 
.settings ul.tab-nav {
	border-bottom: none !important;	
}
.settings ul.tab-nav li > a{
	background-color: #8b1d8f;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	
}
.settings ul.tab-nav li.active > a {
	background-color: #f2f2f2;
	color: #3085d6;
	border: 2px solid #3085d6;
	border-right: 2px solid #f2f2f2;
	z-index: 10;
}
.settings ul.tab-nav > li {
    position: relative;
    z-index: 9;
	display: block;

	background-color: #3085d6;
	margin: 5px 0px !important;

	box-shadow: -2px 0px 2px 1px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: -2px 0px 2px 1px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: -2px 0px 2px 1px rgba(119, 119, 119, 0.75);
	
}
.settings ul.tab-nav > li.active {
    position: relative;
    z-index: 11;
	border-right: 2px solid #f2f2f2;
	margin-left: 10px !important;

}

.settings .tab-content {
    position: relative;
    z-index: 10;
	box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.75);
	
	min-height: 300px;
	background-color: #f2f2f2;
	
}
.tw-search-box {
    margin: 10px auto 20px;
}
.editform_left {
    display: inline-block;
    float: left;
}
/* ============= Helper classes ================== */
.clearfix {
	clear: both;
}
.float-right {
	float: right;
	
}
.top-margin10 {
	padding-top: 10px;
}
.margin-bottom-zero {
	margin-bottom: 0px !important;
}
.ajax-loader {
	background: url("/static/images/ajaxloader.gif") no-repeat;
	background-position: center;
	min-height: 180px;
	display: none;
	
}

#balance-info p {
    margin-bottom: 0px !important;
    font-size: 12px;
    text-align: center;
}
#balance-info p.big-font {
    color: #FFF;
    font-size: 35px;
    font-weight: bolder;
    padding: 0px !important;
    margin: 0px !important;

}
#balance-info tbody {

    border: none !important;

}
#balance-info table {
    border: none !important;
    margin-bottom: 0px !important;

    background: url("/static/images/tr-green-bg.png");
}
#balance-info tbody td {
    vertical-align: middle;
    border-top: none !important;
}
/*================== Modal ================*/
#editTwilioNumber2 > .content {
	width: 60% !important;
	height: 80% !important;


	max-height: 95% !important;
}
.edittwnumber {
	height: 40px !important;
}
.ui-widget-overlay {
    z-index: 2000;
    height: 100%;
}
.ui-dialog {
    left: 20% !important;
    width: 50% !important;
    top: 20px !important;
    z-index: 2001;
}
.ui-widget-header {
    background: none !important;
    border: 1px solid #540754;
    background-color: #791a7a !important;
}
.ui-icon {
    top: 0% !important;
    left: 0% !important;
}
#editTwilioNumber2 {
    display: none;
}

/*============= Registration page ================*/

#regform, #loginform {
	margin-top: 50px;
	-moz-box-shadow: 0px 0px 14px #000000;
	-webkit-box-shadow: 0px 0px 14px #000000;
	box-shadow: 0px 0px 14px #000000;
	padding: 20px;
}
form {
	margin: 0px !important;
}

/*============== Individual dashboard =============*/

#individual-dashboard {
    background: url("/static/images/dashboard-individual.jpg");
    background-size:100% auto;
    background-repeat:no-repeat;
    min-height: 800px;
}

#veryfication-code {
	color: #FFF;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 340px;
	background: #ff670f; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff670f 0%, #ff670f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff670f), color-stop(100%,#ff670f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff670f 0%,#ff670f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff670f 0%,#ff670f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff670f 0%,#ff670f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff670f 0%,#ff670f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#ff670f',GradientType=0 ); /* IE6-9 */


}
#veryfication-code b {
	color: #000;
	font-weight: bolder;
}
#member-leads, #member-leads-filter {
	margin-top: 20px;
}
#member-leads-filter {
	background-color: #999;
}
#member-leads table thead tr th, #member-leads table thead tr td {
	font-size: 13px;
}