<div class="modal" id="registration-modal">
  <div class="content">
    <a class="close switch" gumby-trigger="|#registration-modal"><i class="icon-cancel" /></i></a>
    <div class="row">
      <div class="twelve columns centered text-center">
        <h2>Registration Form</h2>
        <form action="/member/register/" method="post">{% csrf_token %}
        	{% for field in rform %}
	        	<div class="field">
	        		<div class="row">
	        			<div class="twelve columns">
	        				{{ field.errors }}
	        			</div>
	        		</div>
	        		<div class="row">
	        			<div class="four columns">
		        			{{ field.label }}
		        		</div>
	        			
	        			<div class="eight columns">
							{{ field }}
						</div>
					</div>
				</div>
	        {% endfor %}
	        	<div class="row" style="margin-top: 30px !important;">
	        		<div class="six columns" style="text-align: right;">
				        <p class="btn primary large">
				        	<input type="submit" value="Register">
				        </p>
				    </div>
				    <div class="six columns" style="text-align: left;">
				        <p class="btn danger large">
				        	<a href="#" class="switch" gumby-trigger="|#registration-modal">Close</a>
				        </p>
				    </div>
				</div>
        </form>
        
      </div>
    </div>
  </div>
</div>