<div class="modal" id="editTwilioNumber">
  <div id="data">
  <div class="content">
    
    <div class="row">
      <div class="ten columns centered text-center">
        

          <form name='' action="/mytwilio/update_twnumber/0/">
            <input type="hidden" name="hid_twid" value="">
          
            <table>
              
            </table>
          </form>
          <p class="btn primary medium">
          <input type="submit" value="submit" name="edittwilionumbersubmit">
          </p>
          

        
      </div>
    </div>


  </div>
  </div>
</div>

<script type="text/javascript">
(function(){
  console.log("page loaded..");
  $("input[name='edittwilionumbersubmit']").on("click", function(e){
    e.preventDefault();
    twid = $("input[name='hid_twid']").val()
    sms_reply_email_active = $("input[name='sms_reply_email_active']").is(":checked");
    sms_reply_email_body = $("textarea[name='sms_reply_email_body']").val();
    sms_reply_email_attachement = $("input[name='sms_reply_email_attachement']").val();
    active_sms_reply = $("input[name='active_sms_reply']").is(":checked");
    message_body = $("textarea[name='message_body']").val();
    note = $("textarea[name='note']").val();

    console.log('sms_reply_email_active : '+sms_reply_email_active);
    console.log("sms_reply_email_body "+sms_reply_email_body);
    console.log("active_sms_reply :"+active_sms_reply);
    console.log("message_body "+message_body);
    console.log("note "+ note);

    $.ajax({
      type: "POST",
      url: "/mytwilio/update_twnumber/"+twid+"/",
      data: {
        sms_reply_email_active: sms_reply_email_active,
        sms_reply_email_body: sms_reply_email_body,
        active_sms_reply: active_sms_reply,
        message_body: message_body,
        note: note,
        twid: twid
      },

      success: function(data) {
        if(data == "success") {
          console.log("success");
        }
        $("#twnumber_list").load("/member/tw_number_list/");

        $( "#closemodal" ).trigger( "click" );
      },

      error: function(errors) {
        alert("error");
      }
    });

  });
})(jQuery)
</script>