<table>
	<thead>
		<tr>
			<th>SL</th>
			<th>Area Code</th>
			<th>Champion Number</th>
			<th>Note</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for number in tw_numbers %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ number.area_code }}</td>
			<td>{{ number.twilio_number }}</td>
			<td>{{ number.note }}</td>
			<td>
				<a href="/mytwilio/update_twnumber/{{ number.pk }}/" data-id="{{ number.pk }}"
                   class="editTwilioNumber"> Edit </a> / <a href=""> Remove </a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<script type="text/javascript">
    (function(){
        $(".editTwilioNumber").on("click", function(e){
            e.preventDefault();
            id = $(this).data("id");
            url = $(this).attr("href");
            console.log(url);
            $( "#editTwilioNumber2" ).dialog({
                width: 750,
                minHeight: 400,
                position: { my: "center top", at: "center top" },
                show: { effect: "blind"},
                modal: true,
                open: function() {
                    $(this).load(url);
                }
            });
        });
    })(jQuery)

</script>

