{% if numbers %}
<form id="buynumbers" action="/mytwilio/buynumbers/" method="post">{% csrf_token %}
  <section class="row tw-search-box">
    <aside class="nine columns">
      <select multiple="multiple" id="my-select" name="mychoices">
        {% for number in numbers %}
          <option value="{{ number.phone_number }}">{{ number.phone_number }}</option>
        {% endfor %}
      </select>
    </aside>
    <aside class="three columns">
      <p class="medium danger btn" style="margin-top: 70px;">
        <input type="submit" id="search_number" value="Add Numbers">
      </p>
    </aside>
  </section>
</form>
<script type="text/javascript">
(function(){
	$('#my-select').multiSelect();



})(jQuery)

</script>
{% else %}
	<h3> No phone number found for your search.</h3>
{% endif %}