<html>
<head>
	<title>This is email template</title>

</head>
<body style="text-align: center; background-color: #DDD; padding-top: 50px;">
<div style="background-image: url('http://www.procurementconnections.com/static/images/showcase-bg.jpg');
	margin: 20px auto;	width: 600px;	height: 450px;	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;	border-radius: 20px;">
<div style="height: 114px; padding-top: 64px;">
	<img src="http://www.procurementconnections.com/static/images/logo.png" width='350'/>
</div>

<div style="position: relative;	top: 214px;	height: 300px;	width: 598px;	margin-left: 1px;text-align: left; font-size: 22px;
">
<div style="padding: 20px;	background-color: #EEE;	-webkit-border-radius: 0px 0px 20px 20px;
	-moz-border-radius: 0px 0px 20px 20px;	border-radius: 0px 0px 20px 20px; height: 300px;">
Hi Dear, <br/>
You have successfully registered to Champion Prospector. Please click below link to verify your account. <br/>
	<p style=" background: #9c368d;  background-image: -webkit-linear-gradient(top, #9c368d, #852885);
  background-image: -moz-linear-gradient(top, #9c368d, #852885);
  background-image: -ms-linear-gradient(top, #9c368d, #852885);
  background-image: -o-linear-gradient(top, #9c368d, #852885);
  background-image: linear-gradient(to bottom, #9c368d, #852885);
  -webkit-border-radius: 10;  -moz-border-radius: 10;  border-radius: 10px;  font-family: Arial;
  color: #ffffff;  font-size: 20px;  padding: 20px;  text-decoration: none;	margin: 20px auto;
	width: 200px;	text-align: center;">
		<a href="{{ activation_url }}" style="color: #FFF;	text-decoration: none;	font-size: 18px;">Verify Account</a>
	</p>

    <br />
Regards, <br/>
Champions Prospector Team
</div>
</div>
</div>

</body>
</html>
