{% load selectable_tags %}

<!DOCTYPE html>
<html>
<head>
	{% include_ui_theme 'ui-lightness' %}
	{% include_jquery_libs '1.10.2' '1.10.2' %}
	
	<script type="text/javascript" src="/static/js/jquery.pjax.js"></script>
	<script type="text/javascript" src="/static/js/jquery.multi-select.js"></script>
	
	{% block headerscript %}
		<link rel="stylesheet" href="/static/gummy/css/gumby.css">
		<link rel="stylesheet" href="/static/css/multi-select.css">
		
		<link rel="stylesheet" href="/static/css/style.css">

		<script src="/static/gummy/js/libs/modernizr-2.6.2.min.js"></script>
		
		<script src="/static/gummy/js/libs/gumby.min.js"></script>
	{% endblock headerscript %}

</head>
<body>
{% block message %}
{% if messages %}
<div class="row message">
<section class="twelve columns">
	<ul>
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
</section>
</div>
{% endif %}

{% endblock message %}


<header class="row topmenu">
	
    <div class="five columns">
      <a href=""><img src="/static/images/logo.png"></a>
	
    </div>
    <div class="seven columns">
    	{% block topright %}
    		{% if user.is_authenticated %}
				{% include "loggedin-page.html" %}
			{% else %}
	    		{% include "topmenu.html" %}
	    	{% endif %}
	    {% endblock topright %}
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</header>
{% block header %}
	{% if not user.is_authenticated %}
		<header class="row">
			<div class="centered ten columns">
				{% include "home-header.html" %}
			</div>
		
		
		</header>
	{% endif %}
{% endblock header %}

{% block headermenu %}

<header class="row headermenu">
	<div class="twelve columns">
		{% if not user.is_authenticated %}
			{% include "login-menu.html" %}
		{% else %}
			{% include "member/balance-info.html" %}
			{% include "dashboard-menu.html" %}
		{% endif %}
	</div>
</header>

{% endblock headermenu %}

<div class="fullcontent">
	<section class="row content">
		<article class="twelve columns">
			{% block content %}
						
			{% endblock content %}
		</article>

	</section>
	
	<footer class="row footer">
		{% include "footer.html" %}

	</footer>
	
</div>

{% block footerjs %}
	
{% endblock footerjs %}
</body>
</html>
{% if not user.is_authenticated %}
	{% include "modals/login_modal.html" %}
	{% include "modals/registration_modal.html" %}

{% endif %}

<script type="text/javascript">
(function(e){
    setTimeout(function() {
      $('div.message').fadeOut();
    }, 7000);

})(jQuery)

</script>
