<ul class="tab-nav main-menu">
    <li {% if request.path == "/member/dashboard/" %} class="active" {% endif %}>
    	<a href="/member/dashboard/">Dashboard</a>    
    </li>
    <li><a href="#">Teams</a></li>
    <li><a href="#">Social Media</a></li>
    <li><a href="#">Ads</a></li>
    <li><a href="#">Contacts</a></li>
    <li><a href="#">Campaigns</a></li>
    <li><a href="#">Resume</a></li>
    <li><a href="#">Webinar</a></li>
    <li {% if request.path == "/member/settings/" %} class="active" {% endif %}>
    	<a href="/member/settings/">Settings</a>
    </li>
</ul>
