<div class="five columns">
	<p>2013 Champian Prospector. All rights Reserved</p>
</div>
<div class="seven columns">
	<div class="navbar">
	<ul>
		<li><a href="">Home</a></li>
		<li><a href="">Partner</a></li>
		<li><a href="">FAQ</a></li>
		<li><a href="">Blog</a></li>
		<li><a href="">Returns</a></li>
		<li><a href="">Terms</a></li>
		<li><a href="">Privacy</a></li>
	</ul>
	</div>
</div>