<div class="row">
	<article class="centered twelve columns topheader">
		<p>
			In today's cut throat environment you've got to be early and jump on a good opportunity. If you dont, your compitition certainly will. The first step is to register to find the opportunity in the first place.
		</p>
		<h1> We make that first step easy</h1>
		<p class="img">
			<img src="/static/images/laptop2.png">
		</p>
		
		
	</article>
</div>