<div class="push_five seven columns top-margin10">
	<div class="row">
		<div class="seven columns">
			<p class="float-right margin-bottom-zero">
				Hello, {{ user.username }}
			</p>
		</div>
		<div class="five columns">
			<p class="btn primary midium float-right margin-bottom-zero">
				<a href="/member/logout/">Logout</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="seven columns">
			<p class="float-right margin-bottom-zero">
				Contact No:
			</p>
		</div>
		<div class="five columns"></div>
	</div>
</div>