<div class="row">
	<section class="centered eight columns">
		<div class="row">
			<div class="five columns">
				<h4 style="padding-top: 10px;">Get Started Today</h4>
			</div>
			<div class="three columns">
				<p class="large primary btn">
					<a href="#" class="switch" gumby-trigger="#login-modal">Login</a>
				</p>
			</div>
			<div class="one columns">
				<h4 style="padding-top: 10px;">Or</h4>
			</div>
			<div class="three columns">
				<div class="large primary btn">
					<a href="#" class="switch" gumby-trigger="#registration-modal">Register</a>
				</div>
			</div>			
		</div>
	</section>
</div>