<div class="row navbar" id="#nav1">
	<div class="twelve columns ">
		<ul class="top">
		  <li><a href="">Home</a></li>
		  <li><a href="">About</a></li>
		  <li><a href="">Pricing</a></li>
		  <li><a href="">FAQs</a></li>
		  <li><a href="">Contact Us</a></li>

		</ul>
	</div>
</div>
